h1,
h2,
h3,
h4,
h5,
figure,
p,
ol,
ul {
    margin: 0;
}

ol[role="list"],
ul[role="list"] {
    list-style: none;
    padding-inline: 0;
}

h1,
h2,
h3,
h4,
h5 {
    font-size: inherit;
    font-weight: inherit;
}

img {
    display: block;
    max-inline-size: 100%;
}

html {
    font-family: "Barlow", sans-serif;
    scroll-behavior: smooth;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px;

    &__big {
        max-width: 1820px;
    }
}

@media screen and (max-width: 1600px) {
    .container__big {
        padding: 0;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        max-width: 960px;
    }
}

@media screen and (max-width: 870px) {
    .container {
        max-width: 720px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 100%;
        padding: 0 5px;
    }
}