@use '/src/sass/frontelo/modern-normalize.min.css';
@use '/src/sass/blocks/header.scss';
@use "/src/sass/blocks/about.scss";
@use "/src/sass/blocks/statistic.scss";
@use "/src/sass/blocks/product.scss";
@use "/src/sass/blocks/scale.scss";
@use "/src/sass/blocks/contact.scss";
@use "/src/sass/blocks/blog.scss";
@use "/src/sass/blocks/footer.scss"