@use "/src/sass/base/title.scss" as *;
@use "/src/sass/base/basic.scss" as *;

.contact {
    margin-top: 120px;

    &__wrapper {
        display: flex;
        justify-content: space-between;

    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        width: 580px;

        p {
            text-align: start;
        }

        &_content {
            position: relative;
            padding: 0 0 7px 0;

        }


    }

    &__btns,
    .btn {
        position: relative;
        display: block;
        width: 242px;
        height: 60px;
        margin-top: 20px;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        text-align: left;
        color: #fff;
        cursor: pointer;

        &::after {
            position: absolute;
            content: "";
            background: url(/src/img/product/elips.png) no-repeat center;
            height: 54px;
            width: 54px;
            top: 1px;
            right: 0;
        }
    }




    &__content {
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 720px;

        &::before {
            position: absolute;
            content: "";
            background: url(/src/img/logo/Agroton.svg) no-repeat;
            top: 30px;
            left: 20px;
            height: 56px;
            width: 63px
        }
    }

    &__desc {
        display: flex;
        justify-content: space-between;
        background: #f4f4e7;
        border-radius: 10px;

        &-content {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: end;
            gap: 15px;
            padding: 0 0 30px 24px;

        }

        &-text {
            margin-left: 15px;
            position: relative;
            padding-left: 15px;

            span {
                color: #F2A531;
            }
        }

        &-text::before {
            position: absolute;
            content: "";
            height: 24px;
            width: 24px;
            background: url(/src/img/contact/circle.svg);
            transform: translateX(-50%);
            top: 0;
            left: -10px;
        }
    }

    &__text {
        background: #0d1615;
        border-radius: 10px;
        padding: 30px;

        span {
            color: #f2a531;
        }

        p {

            font-weight: 700;
            font-size: 20px;
            color: #fff;
            ;
        }
    }

}