@use "/src/sass/base/title.scss" as *;
@use "/src/sass/base/basic.scss" as *;

.footer {
    background: black;
    color: #fff;
    margin-top: 80px;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        padding-top: 100px;

        @media screen and (max-width: 1280px) {
            flex-direction: column;
            gap: 20px;
        }
    }

    &__navigation {
        &-title {
            display: flex;
            flex-direction: column;
            gap: 15px;

            p {
                margin: 0;
                font-size: 16px;
                text-transform: uppercase;
                font-weight: 500;
            }


        }

        &-link {
            list-style: none;
            text-decoration: none;
            font-weight: 400;
            font-size: 16px;
            color: #fff;
            cursor: pointer;

            a {
                list-style: none;
                text-decoration: none;
                font-weight: 400;
                font-size: 16px;
                color: #fff;
            }
        }
    }

    &__info {
        display: flex;
        justify-content: space-between;
        padding: 15px 0 100px 0;

        @media screen and (max-width: 870px) {
            flex-direction: column;
        }

        @media screen and (max-width: 480px) {
            padding: 10px;
        }
    }

    .line {
        margin-top: 30px;
        width: 100%;
        border-top: 1px solid #fff;
    }
}