@use "/src/sass/base/buton.scss" as *;
@use "/src/sass/base/title.scss" as *;
@use "/src/sass/base/basic.scss" as *;

body {
    background-color: #FDFDF0;
}

.header {
    padding: 30px 0;

    &__inner {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    &__logo {
        display: flex;
        gap: 8px;
        align-items: center;

    }

    &__menu {

        ul {
            display: flex;
            gap: 30px;
            list-style: none;
            flex-direction: row;
        }

        li {
            cursor: pointer;
        }
    }

    &__btns {
        color: #F4F4E7;
    }
}