@use "/src/sass/base/title.scss" as *;
@use "/src/sass/base/basic.scss" as *;

.product {
    border-radius: 20px;
    margin: 180px 50px 0 50px;
    background: #f4f4e7;
    padding-bottom: 50px;

    @media screen and (max-width: 870px) {
        margin: 100px 20px 0 20px;
        padding-bottom: 30px;
    }

    @media screen and (max-width: 480px) {
        margin: 50px 15px 0 15px;
    }


    &__title {
        padding-top: 50px;
    }

    &__wrapper {
        border-radius: 20px;
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        a:nth-child(even) {

            .product__cart-title,
            .product__cart-ingredients {
                color: black;
            }
        }

        a {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
        }
    }

    &__cart {
        position: relative;
        width: 460px;
        height: 322px;

        @media screen and (max-width: 1024px) {
            width: calc(50% - 8px);
            height: auto;
        }

        @media screen and (max-width: 870px) {
            width: 100%;
            height: auto;
        }

        &-content {
            position: relative;
            z-index: 2;
            padding: 51px 0 0 21px;
        }



        &-title {
            font-weight: 400;
            font-size: 32px;
            color: #fff;
        }

        &-ingredients {
            padding-top: 15px;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
        }

        &-img {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;

            img {
                border-radius: 20px;
            }
        }

        button {
            position: absolute;
            z-index: 3;
            bottom: -12px;
            left: -4px;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            border: none;
        }

    }

    &__btns {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 242px;
        height: 60px;
        margin-top: 50px;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        text-align: left;
        color: #fff;
        cursor: pointer;

        &::after {
            position: absolute;
            content: "";
            background: url(/src/img/product/elips.png) no-repeat center;
            height: 54px;
            width: 54px;
            top: 1px;
            right: 0;
        }
    }
}

@media screen and (max-width: 1280px) {
    .product {
        &__wrapper {
            gap: 16px;
            justify-content: space-around;
        }
    }
}

@media screen and (max-width: 1024px) {
    .product {
        &__wrapper {
            justify-content: space-between;
            gap: 16px;
        }
    }
}

@media screen and (max-width: 870px) {
    .product {
        &__wrapper {
            flex-direction: column;
            justify-content: flex-start;
            gap: 16px;
            padding-top: 20px;
        }
    }
}

@media screen and (max-width: 480px) {
    .product {
        &__title {
            font-size: 28px;
            padding-top: 20px;
        }

        &__btns {
            font-size: 14px;
            width: 100%;
        }
    }
}