@use "/src/sass/base/title.scss" as *;
@use "/src/sass/base/basic.scss" as *;

.product {
    border-radius: 20px;
    background: #f4f4e7;
    margin-top: 180px;

    &__title {
        padding-top: 50px;
    }

    &__wrapper {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        gap: 16px;

        a:nth-child(even) {

            .product__cart-title,
            .product__cart-ingredients {
                color: black;
            }
        }

        a {
            text-decoration: none;
            cursor: pointer;
            color: #fff;
        }
    }

    &__cart {
        position: relative;
        width: 460px;
        height: 322px;

        &-content {
            position: relative;
            z-index: 2;
            padding: 51px 0 0 21px;
        }



        &-title {
            font-weight: 400;
            font-size: 32px;
            color: #fff;
        }

        &-ingredients {
            padding-top: 15px;
            font-weight: 300;
            font-size: 16px;
            color: #fff;
        }

        &-img {
            position: absolute;
            z-index: 1;
            top: 0;
            right: 0;

            img {
                border-radius: 20px;
            }
        }

        button {
            position: absolute;
            z-index: 3;
            bottom: -12px;
            left: -4px;
            border-radius: 50%;
            height: 50px;
            width: 50px;
            border: none;
        }

        &-link {}
    }

    &__btns {
        display: block;
        margin: 0 auto;
        position: relative;
        width: 242px;
        height: 60px;
        margin-top: 50px;
        font-weight: 500;
        font-size: 16px;
        text-transform: uppercase;
        text-align: left;
        color: #fff;
        cursor: pointer;

        &::after {
            position: absolute;
            content: "";
            background: url(/src/img/product/elips.png) no-repeat center;
            height: 54px;
            width: 54px;
            top: 1px;
            right: 0;
        }
    }

}