@use "/src/sass/base/title.scss" as *;
@use "/src/sass/base/basic.scss" as *;

.scale {
    padding-top: 115px;

    &__subtitle {
        width: 100%;
    }

    &__img {
        width: 100%;
        object-fit: cover;

        margin-top: -150px;
    }
}

@media screen and (max-width: 1490px) {
    .scale {
        .title {
            &_fz300 {
                font-size: 240px;
            }
        }
    }
}

@media screen and (max-width: 1280px) {
    .scale {
        &__img {
            margin-top: -100px;
        }

        .title {
            &_fz300 {
                font-size: 180px;
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .scale {
        &__img {
            margin-top: -70px;
        }

        .title {
            &_fz300 {
                font-size: 140px;
            }
        }
    }
}

@media screen and (max-width: 870px) {
    .scale {
        &__img {
            margin-top: 0;
        }
    }
}

@media screen and (max-width: 480px) {
    .scale {
        &__subtitle {
            font-size: 14px;
        }
    }
}