.statistic {
    margin-top: 90px;

    &__items {
        display: flex;
        gap: 90px;
        background: #f4f4e7;
        padding: 30px 20px;
        margin-bottom: 50px;
        border-radius: 20px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
        padding: 20px 0;
    }

    &__number {
        font-weight: 600;
        font-size: 40px;
        text-align: center;
        color: #000
    }

    &__text {
        font-weight: 400;
        font-size: 22px;
        line-height: 127%;
        text-align: center;
        color: rgba(14, 13, 13, 0.71);
    }

    &__texts {
        font-weight: 300;
        font-size: 40px;

        color: rgba(14, 13, 13, 0.84);

        span {
            font-weight: 500;
            color: #0E0D0D;
        }
    }

    &__content {
        padding-top: 40px;
        display: flex;
        justify-content: space-between;

        &-img {
            width: 340px;
            height: 445px;
        }

        img {
            border-radius: 10px;
            height: 100%;
            width: 100%;
            object-fit: cover;

        }

        &-box {
            width: 938px;
        }

        &-text {
            span {
                font-weight: 600;
                color: #f2a531
            }
        }


        &-raiting {
            display: flex;
            flex-wrap: wrap;
            margin: 0 auto;
            padding-top: 45px;
        }

        &-item {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            padding: 10px 0;
            border-bottom: 1px solid black;

            dd {
                margin: 0;
            }



        }
    }

    .prosta {
        border-top: 1px solid black;
        width: 100%;
        padding: 10px 0;
    }
}